<%- include('header'); %>
<%- include('nav'); %>
<main>
<h3>Sign Up</h3>
<% if (typeof errorMessages !== 'undefined' && errorMessages.length > 0) { %>
    <ul style="color:red; list-style: none;">
        <% errorMessages.forEach(function(error) { %>
            <li><%= error %></li>
        <% }); %>
    </ul>
<% } %>
<form action="/register" method="POST">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" required>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
    <label for="email">Email</label>
    <input type="email" name="email" id="email" required>
    <label for="phone">Phone</label>
    <input type="text" name="phone" id="phone">
    <button class="btn btn-success">Submit</button>
</form>


</main>

